<a href="https://colab.research.google.com/github/MarcoSuarezECCI/SeminarioBigData/blob/main/1_PPvsSpark_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas vs Polars vs Spark vs Dask
[Author: Elias Buitrago Bolivar](https://github.com/ebuitrago?tab=repositories)

Inspired in: https://www.youtube.com/watch?v=mi9f9zOaqM8

Original data: Kaggle

This jupyter notebook is designed to study and compare different tools to read and manipulate data; to be used in the data undertanding phase. The corresponding explanations will be given directly in class, therefore the material isn't autoexplained. Don´t forget ask me for the access to the data. And, please, give credits to the original author's idea and, if consider, also to me.

_Updated: June 20th, 2023_

In [8]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Playing with pandas

In [16]:
import pandas as pd
flights_file1 = "/content/drive/MyDrive/data/flights/Combined_Flights_2018.parquet"
#flights_file2 = "/content/drive/MyDrive/data/flights/Combined_Flights_2019.parquet"
#flights_file3 = "/content/drive/MyDrive/data/flights/Combined_Flights_2020.parquet"
#flights_file4 = "/content/drive/MyDrive/data/flights/Combined_Flights_2021.parquet"
#flights_file5 = "/content/drive/MyDrive/data/flights/Combined_Flights_2022.parquet"

df1 = pd.read_parquet(flights_file1)
#df2 = pd.read_parquet(flights_file2)
#df3 = pd.read_parquet(flights_file3)
#df4 = pd.read_parquet(flights_file4)
#df5 = pd.read_parquet(flights_file5)

In [17]:
#df = pd.concat([df1, df2])
df = df1

In [18]:
# %%timeit

df_agg = df.groupby(['Airline','Year'])[["DepDelayMinutes", "ArrDelayMinutes"]].agg(
    ["mean", "sum", "max"]
)
df_agg = df_agg.reset_index()
df_agg.to_parquet("temp_pandas.parquet")

In [19]:
!ls -GFlash temp_pandas.parquet

12K -rw-r--r-- 1 root 9.2K Jul  3 00:25 temp_pandas.parquet

In [24]:
pd.read_parquet('temp_pandas.parquet')

                                      Airline  Year DepDelayMinutes  \
                                                               mean
0                 Air Wisconsin Airlines Corp  2018       16.753459
1                        Alaska Airlines Inc.  2018        7.503389
2                               Allegiant Air  2018       17.080944
3                      American Airlines Inc.  2018       13.141112
4                                    Cape Air  2018        4.643761
5                 Capital Cargo International  2018       14.876462
6                                 Comair Inc.  2018       12.776783
7   Commutair Aka Champlain Enterprises, Inc.  2018       28.243923
8                            Compass Airlines  2018       14.060415
9                        Delta Air Lines Inc.  2018        8.538123
10                       Empire Airlines Inc.  2018       13.654324
11                          Endeavor Air Inc.  2018       13.952577
12                                  Envoy Air  2018       10.910172
13                   ExpressJet Airlines Inc.  2018       16.544919
14                     Frontier Airlines Inc.  2018       23.029903
15   GoJet Airlines, LLC d/b/a United Express  2018       16.427071
16                     Hawaiian Airlines Inc.  2018        5.011211
17                                Horizon Air  2018        7.285063
18                            JetBlue Airways  2018       19.670430
19                         Mesa Airlines Inc.  2018       15.128549
20                     Peninsula Airways Inc.  2018       14.184256
21                          Republic Airlines  2018       12.002701
22                      SkyWest Airlines Inc.  2018       14.514365
23                     Southwest Airlines Co.  2018       12.598293
24                           Spirit Air Lines  2018       13.666850
25                      Trans States Airlines  2018       21.379592
26                      United Air Lines Inc.  2018       13.614583
27                             Virgin America  2018       10.902274

                       ArrDelayMinutes
           sum     max            mean         sum     max
0    1606774.0  1296.0       17.881934   1708887.0  1292.0
1    1374801.0   839.0        8.759125   1600336.0   842.0
2    1630769.0  1462.0       17.547588   1670390.0  1505.0
3    4993399.0  2109.0       14.225643   5387564.0  2153.0
4       7704.0   430.0        5.390332      8921.0   446.0
5     625823.0   841.0       15.310871    640270.0   814.0
6    1452158.0  1121.0       12.789146   1447872.0  1110.0
7    1290832.0  1352.0       29.284076   1332689.0  1353.0
8     629302.0  2625.0       14.836996    662917.0  2635.0
9    3924514.0  1207.0        8.368956   3840012.0  1206.0
10    115420.0   655.0       14.458483    120497.0   654.0
11   1629061.0  1921.0       14.456739   1691424.0  1916.0
12   1353516.0  1163.0       12.531226   1546817.0  1152.0
13   2689873.0  1522.0       17.858140   2892215.0  1553.0
14   2711702.0  1254.0       22.355794   2627320.0  1253.0
15   1029156.0  1545.0       16.987283   1060635.0  1543.0
16    418366.0  2482.0        5.944504    495623.0  2475.0
17    613854.0   640.0        8.279781    694980.0   642.0
18   5876305.0  1489.0       19.820096   5901592.0  1473.0
19   2274532.0  1789.0       16.418326   2460122.0  1773.0
20     16397.0   470.0       15.569902     17485.0   437.0
21   2377663.0  1270.0       13.293485   2624772.0  1346.0
22   7611841.0  2098.0       15.656154   8173859.0  2108.0
23  16812158.0   713.0       11.119075  14806261.0   698.0
24   2385002.0  1527.0       14.241442   2479848.0  1527.0
25   1389310.0  1519.0       22.335766   1444320.0  1537.0
26   8398591.0  1431.0       14.477765   8902595.0  1429.0
27    187977.0   520.0       11.950971    204995.0   504.0

In [21]:
pd.read_parquet('temp_pandas.parquet').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   (Airline, )              28 non-null     object
 1   (Year, )                 28 non-null     int64
 2   (DepDelayMinutes, mean)  28 non-null     float64
 3   (DepDelayMinutes, sum)   28 non-null     float64
 4   (DepDelayMinutes, max)   28 non-null     float64
 5   (ArrDelayMinutes, mean)  28 non-null     float64
 6   (ArrDelayMinutes, sum)   28 non-null     float64
 7   (ArrDelayMinutes, max)   28 non-null     float64
dtypes: float64(6), int64(1), object(1)
memory usage: 1.9+ KB

## Playing with Polars

In [10]:
import polars as pl

In [11]:
flights_file1 = "/content/drive/MyDrive/data/flights/Combined_Flights_2018.parquet"
flights_file2 = "/content/drive/MyDrive/data/flights/Combined_Flights_2019.parquet"
flights_file3 = "/content/drive/MyDrive/data/flights/Combined_Flights_2020.parquet"
flights_file4 = "/content/drive/MyDrive/data/flights/Combined_Flights_2021.parquet"
flights_file5 = "/content/drive/MyDrive/data/flights/Combined_Flights_2022.parquet"
df1 = pl.scan_parquet(flights_file1)
df2 = pl.scan_parquet(flights_file2)
df3 = pl.scan_parquet(flights_file3)
df4 = pl.scan_parquet(flights_file4)
df5 = pl.scan_parquet(flights_file5)

In [14]:
 #%%timeit

df_polars = (
    pl.concat([df1, df2, df3, df4, df5])
    .groupby(['Airline', 'Year'])
    .agg([
        pl.col("DepDelayMinutes").mean().alias("avg_dep_delay"),
        pl.col("DepDelayMinutes").sum().alias("sum_dep_delay"),
        pl.col("DepDelayMinutes").max().alias("max_dep_delay"),
        pl.col("ArrDelayMinutes").mean().alias("avg_arr_delay"),
        pl.col("ArrDelayMinutes").sum().alias("sum_arr_delay"),
        pl.col("ArrDelayMinutes").max().alias("max_arr_delay"),
      ])
).collect()

df_polars.write_parquet('temp_polars.parquet')

<ipython-input-14-aead953ac087>:5: DeprecationWarning: `groupby` is deprecated. It has been renamed to `group_by`.
  .groupby(['Airline', 'Year'])

In [15]:
!ls -GFlash temp_polars.parquet

12K -rw-r--r-- 1 root 8.1K Jul  3 00:24 temp_polars.parquet

In [22]:
pl.read_parquet('temp_pandas.parquet')

shape: (28, 8)
┌────────────┬────────────┬────────────┬───────────┬───────────┬───────────┬───────────┬───────────┐
│ ('Airline' ┆ ('Year',   ┆ ('DepDelay ┆ ('DepDela ┆ ('DepDela ┆ ('ArrDela ┆ ('ArrDela ┆ ('ArrDela │
│ , '')      ┆ '')        ┆ Minutes',  ┆ yMinutes' ┆ yMinutes' ┆ yMinutes' ┆ yMinutes' ┆ yMinutes' │
│ ---        ┆ ---        ┆ 'mean')    ┆ , 'sum')  ┆ , 'max')  ┆ , 'mean') ┆ , 'sum')  ┆ , 'max')  │
│ str        ┆ i64        ┆ ---        ┆ ---       ┆ ---       ┆ ---       ┆ ---       ┆ ---       │
│            ┆            ┆ f64        ┆ f64       ┆ f64       ┆ f64       ┆ f64       ┆ f64       │
╞════════════╪════════════╪════════════╪═══════════╪═══════════╪═══════════╪═══════════╪═══════════╡
│ Air        ┆ 2018       ┆ 16.753459  ┆ 1.606774e ┆ 1296.0    ┆ 17.881934 ┆ 1.708887e ┆ 1292.0    │
│ Wisconsin  ┆            ┆            ┆ 6         ┆           ┆           ┆ 6         ┆           │
│ Airlines   ┆            ┆            ┆           ┆           ┆           ┆           ┆           │
│ Corp       ┆            ┆            ┆           ┆           ┆           ┆           ┆           │
│ Alaska     ┆ 2018       ┆ 7.503389   ┆ 1.374801e ┆ 839.0     ┆ 8.759125  ┆ 1.600336e ┆ 842.0     │
│ Airlines   ┆            ┆            ┆ 6         ┆           ┆           ┆ 6         ┆           │
│ Inc.       ┆            ┆            ┆           ┆           ┆           ┆           ┆           │
│ Allegiant  ┆ 2018       ┆ 17.080944  ┆ 1.630769e ┆ 1462.0    ┆ 17.547588 ┆ 1.67039e6 ┆ 1505.0    │
│ Air        ┆            ┆            ┆ 6         ┆           ┆           ┆           ┆           │
│ American   ┆ 2018       ┆ 13.141112  ┆ 4.993399e ┆ 2109.0    ┆ 14.225643 ┆ 5.387564e ┆ 2153.0    │
│ Airlines   ┆            ┆            ┆ 6         ┆           ┆           ┆ 6         ┆           │
│ Inc.       ┆            ┆            ┆           ┆           ┆           ┆           ┆           │
│ …          ┆ …          ┆ …          ┆ …         ┆ …         ┆ …         ┆ …         ┆ …         │
│ Spirit Air ┆ 2018       ┆ 13.66685   ┆ 2.385002e ┆ 1527.0    ┆ 14.241442 ┆ 2.479848e ┆ 1527.0    │
│ Lines      ┆            ┆            ┆ 6         ┆           ┆           ┆ 6         ┆           │
│ Trans      ┆ 2018       ┆ 21.379592  ┆ 1.38931e6 ┆ 1519.0    ┆ 22.335766 ┆ 1.44432e6 ┆ 1537.0    │
│ States     ┆            ┆            ┆           ┆           ┆           ┆           ┆           │
│ Airlines   ┆            ┆            ┆           ┆           ┆           ┆           ┆           │
│ United Air ┆ 2018       ┆ 13.614583  ┆ 8.398591e ┆ 1431.0    ┆ 14.477765 ┆ 8.902595e ┆ 1429.0    │
│ Lines Inc. ┆            ┆            ┆ 6         ┆           ┆           ┆ 6         ┆           │
│ Virgin     ┆ 2018       ┆ 10.902274  ┆ 187977.0  ┆ 520.0     ┆ 11.950971 ┆ 204995.0  ┆ 504.0     │
│ America    ┆            ┆            ┆           ┆           ┆           ┆           ┆           │
└────────────┴────────────┴────────────┴───────────┴───────────┴───────────┴───────────┴───────────┘

## Playing with PySpark

In [25]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=b2fa4eb6f4adf58bd823003588b2581e5f3e7bebf0cc2d972af0f89f49f2b55c
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import avg, max, sum, concat

In [ ]:
spark = SparkSession.builder.master("local[1]").appName("airline-example").getOrCreate()

In [ ]:
flights_file1 = "/content/drive/MyDrive/data/flights/Combined_Flights_2018.parquet"
flights_file2 = "/content/drive/MyDrive/data/flights/Combined_Flights_2019.parquet"
flights_file3 = "/content/drive/MyDrive/data/flights/Combined_Flights_2020.parquet"
flights_file4 = "/content/drive/MyDrive/data/flights/Combined_Flights_2021.parquet"
flights_file5 = "/content/drive/MyDrive/data/flights/Combined_Flights_2022.parquet"

In [ ]:
df_spark1 = spark.read.parquet(flights_file1)
df_spark2 = spark.read.parquet(flights_file2)
df_spark3 = spark.read.parquet(flights_file3)
df_spark4 = spark.read.parquet(flights_file4)
df_spark5 = spark.read.parquet(flights_file5)

In [ ]:
df_spark = df_spark1.union(df_spark2)
df_spark = df_spark.union(df_spark3)
df_spark = df_spark.union(df_spark4)
df_spark = df_spark.union(df_spark5)

In [ ]:
 %%timeit

df_spark_agg = df_spark.groupby("Airline", "Year").agg(
    avg("ArrDelayMinutes").alias('avg_arr_delay'),
    sum("ArrDelayMinutes").alias('sum_arr_delay'),
    max("ArrDelayMinutes").alias('max_arr_delay'),
    avg("DepDelayMinutes").alias('avg_dep_delay'),
    sum("DepDelayMinutes").alias('sum_dep_delay'),
    max("DepDelayMinutes").alias('max_dep_delay'),
)
df_spark_agg.write.mode('overwrite').parquet('temp_spark.parquet')

In [ ]:
!ls -GFlash temp_pyspark.parquet

## Playing with dask

In [ ]:
import pandas as pd
import dask.dataframe as dd
# flights_file1 = "/content/drive/MyDrive/data/flights/Combined_Flights_2018.parquet"
# flights_file2 = "/content/drive/MyDrive/data/flights/Combined_Flights_2019.parquet"
flights_file3 = "/content/drive/MyDrive/data/flights/Combined_Flights_2020.parquet"
# flights_file4 = "/content/drive/MyDrive/data/flights/Combined_Flights_2021.parquet"
flights_file5 = "/content/drive/MyDrive/data/flights/Combined_Flights_2022.parquet"
# df1 = dd.read_parquet(flights_file1)
# df2 = dd.read_parquet(flights_file2)
df3 = dd.read_parquet(flights_file3)
# df4 = dd.read_parquet(flights_file4)
df5 = dd.read_parquet(flights_file5)

In [ ]:
df = dd.concat([df3, df5])

In [ ]:
print(df.compute())

In [ ]:
df = df.compute()

In [ ]:
# %%timeit

df_agg = df.groupby(['Airline','Year'])[["DepDelayMinutes", "ArrDelayMinutes"]].agg(
    ["mean", "sum", "max"]
)
df_agg = df_agg.reset_index()
df_agg.to_parquet("temp_dask.parquet")

In [ ]:
!ls -GFlash temp_pandas.parquet

In [ ]:
pd.read_parquet('temp_dask.parquet').info()

In [ ]:
pd.read_parquet('temp_dask.parquet')

## Read Results

In [ ]:
import pandas as pd

In [ ]:
agg_pandas = pd.read_parquet('temp_pandas.parquet')
agg_polars = pd.read_parquet('temp_polars.parquet')
agg_spark = pd.read_parquet('temp_spark.parquet')
agg_dask = pd.read_parquet('temp_dask.parquet')

In [ ]:
agg_pandas.shape, agg_polars.shape, agg_spark.shape, agg_dask.shape

In [ ]:
agg_pandas.sort_values(['Airline','Year']).head()

In [ ]:
agg_polars.sort_values(['Airline','Year']).head()

In [ ]:
agg_spark.sort_values(['Airline','Year']).head()

In [ ]:
agg_dask.sort_values(['Airline','Year']).head()